body {
  margin: 0;
  padding: 0;
  background-color: aqua;
}
.Outer .Search {
  display: flex;
  place-content: center;
  margin-top: 50px;
}
input {
  padding: 1%;
  border-radius: 5px;
}
img {
  width: 80%;
  height: auto;
}
.Outer ul li {
  margin-top: 30px;
  display: flex;
  place-content: center;
  /* padding: 30px 50px 0 50px; */
  justify-content: space-evenly;
}
.col-sm {
  border-radius: 2px solid black;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: rgb(50, 47, 224);
  }
  .Outer {
    display: grid;
  }
} */
